##<b>String Manuplation</B><BR>
String is a character sequence enclosed in single or double quotes.<BR>
String is immutable it means we cant change once we assign it.

In [ ]:
name="MohdFarman"

In [ ]:
print(name[2]) #we can acess any charcter from string by index number. index number start woth 0.

h

In [ ]:
print(name[-2]) #we can also acess char number by reverse order with (-) sign

a

###<font color='blue'>String Traverse

In [ ]:
#we can acess each number in a single vertical line.
collage="galgotiasuniversity"
for ch in collage:
  print(ch)

g
a
l
g
o
t
i
a
s
u
n
i
v
e
r
s
i
t
y

In [ ]:
#for horizontal line we can use end.
collage="galgotiasuniversity"
for ch in collage:
  print(ch, end=' ')

g a l g o t i a s u n i v e r s i t y

###<font color='blue'>Range of Traverse

In [ ]:
#we can find the actual range of string by write some simple code and range will be show in term of number strating from 0.
teacher="urozkhan"
for ch in range(0,len(teacher)):
  print(ch,end=' ')

0 1 2 3 4 5 6 7

In [ ]:
#range in vertical line
teacher="urozkhan"
for ch in range(0,len(teacher)):
  print(ch)

0
1
2
3
4
5
6
7

###<font color='blue'>Reverse String Order

In [ ]:
#we can reverse the string
name=input("enter your name")
for ch in range(-1,-len(name)-1,-1):
  print(name[ch],end=' ')

enter your namefarman
n a m r a f

In [ ]:
name=input("enter your name")
for ch in range(-1,-len(name)-1,-1):
  print(name[ch],end=' ')

enter your namepython
n o h t y p

##<b>String Operation</B><BR>
<b>Two basic operation can perform in string * and +.</b><br>
1. '+' for joining two string(concatenation).<br>
2. '*' for repetiton string or multiply.

In [ ]:
string1='mohd'
string2='farman'
print(string1+' '+string2)

mohd farman

In [ ]:
name=input("enter your name")
age=(input("enter your age"))
name_age=name+''+age
print(name_age)

enter your namefarman
enter your age26
farman26

In [ ]:
#string multiply
name='farman'
print(5*
name)

farmanfarmanfarmanfarmanfarman

In [ ]:
name='meera'
n=4
print(n*name)

meerameerameerameera

In [ ]:
n1=34
n2=5
print(n1*n2)

170

###<font color='blue'>Member Operation<br>
Member operation is used to check whether is character is present in the string or not if its present then it will print true otherwise print false.

In [ ]:
name0="mohdfarman"
'm' in "name0"

True

In [ ]:
name1='mohsin'
'hsin' in "name1"

False

In [ ]:
name3="adnan"
'd' in "name3"

False

In [ ]:
actres="salman"
'n' in "actres"

False

In [ ]:
n="computer"
'c' in "n"

False